TRACES_NT_BASE_URL=traces_base_url
TRACES_NT_CUSTOMS_OFFICE_REFERENCE_NUMBER=traces_customs_office_reference_number
TRACES_NT_CREDENTIALS_DEFAULT_USERNAME=traces_default_username
TRACES_NT_CREDENTIALS_DEFAULT_AUTHENTICATION_KEY=traces_default_authentication_key
TRACES_NT_CREDENTIALS_DEFAULT_WEB_SERVICE_CLIENT_ID=traces_default_client_id
TRACES_NT_CREDENTIALS_CUSTOMS_USERNAME=traces_customs_username
TRACES_NT_CREDENTIALS_CUSTOMS_AUTHENTICATION_KEY=traces_customs_authentication_key
TRACES_NT_CREDENTIALS_CUSTOMS_WEB_SERVICE_CLIENT_ID=traces_customs_client_id

TRADE_TRACESNT_STUB=latest
TRADE_GATEWAY=latest
TRADE_GATEWAY_PUBLISHER=latest
